.header {
    padding-top: 77px;

}

.nav_link {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
}

.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_button {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
    border-radius: 24px;
    border: 2px solid #FFF;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 32px;
    padding-right: 33px;
}

.header_navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80.05px;
}

.nav_item{
    display: flex;
    gap: 40px;
}

.header_menu{
    display: none;
    background-image: url(../img/header_menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 17px;
    background-color: transparent;
}


@media screen and (max-width: 591px) {
    .nav_item{
        display: none;
    }

    .header_button{
        display: none;
    }

    .header_menu{
        display: inline-block;
    }
}